@import"color.scss";

.home{
    width: 100%;
    height: 100vh;
    background-color: $second;
    border-radius: 0 0 200px 200px;
     
    main{
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width:100% ;
        height: 100%;
        padding: 2rem;
        justify-content: center;
        h1{
            font:400 6rem "roboto";
            color: $first;

            }
            p{
                font:900 1rem "roboto";
                color: $first;
                flex-direction: column;
                 align-items: flex-end;
                 
            }
            

        

        

        

    }
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: no-repeat center/auto ;
        background-image: url("../assets/images1.png");
        background-size: cover;
        overflow-block: hidden;
        border-radius: 0 0 200px 200px;

    }
}


.home2{
    width: 100%;
    height: 100vh;
    background-color: $second;
    padding: 500px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;

    img{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 30%;
    height:500px;
    // overflow-clip-margin: content-box;
    // overflow: hidden;
    // overflow-x: 0%;
    // overflow-y: 0%;
    image-resolution: round;
    display: flex;
    // margin-top: -100px;
    animation: imgUp  0.7s linear infinite alternate;


    }
    div{
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        height: 100vh;
        // margin-top:-200px;


        P{
            text-shadow: 10px;
            color:$first;
            font-family:  Georgia, 'Times New Roman', Times, serif,$text2;
            letter-spacing: 2px;
            word-spacing: 5px;
          &:hover{
                color: $third;
            }


        }



    }
}

@keyframes imgUp {
    to{
        transform: translate(-10px);
    }
}

.home3{
    width: 100%;
  height: 120vh;
  background-color: $second;
  margin-top: -200px;
  display: flex;
    

    div{
        width: 80%;
        height: 100vh;
        background-color: $first;
        border-radius: 0 200px 200px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
       
        h1 {
            text-transform: uppercase;
            border-bottom: 2px solid $dark;
            padding: 0.5rem;
            width: 15rem;
            color: $dark;
            
        }
        p {
            padding: 5rem;
            letter-spacing: 1px;
            word-spacing: 5px;
            line-height: 170%;
            font: italic 100 1.2rem $text2;
            overflow: auto;
           
            
          }
         
    }
}

.home4{
    width: 100%;
  height: 70%;
  background-color: $second;
 justify-content: flex-end;
  display: flex;
  div{
    background-color: $third;
    border-radius: 200px 0 0 200px;
    width: 40%;
    height: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        color: $first;
        text-transform: uppercase;
        width:140px;
        border-bottom: 2px solid $first;
        padding: 0.5rem;

    }
    article{
        display: flex;
        margin: 2rem 0;
        flex-wrap: wrap;
        justify-content: center;
        div{
            animation: imgUp 0.7s linear infinite alternate;
            margin: 16px;
            height: 115px;
            width: 100px;
            background-color: $first;
            border-radius: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dark;
            cursor: pointer;
            transition: all 0.5s;
            &:hover{
                filter:invert(1)
            }
            svg{
                font-size: 4rem;

            }
            p{
                font: 900 1.2rem $text2;
            }



        }
    }
    

  }
}
